<footer>
    <table>
    <tr>
    <td colspan="4">
        <div class="social">
        <div><i class="fa fa-brands fa-facebook-f fa-2x"></i></div>
        <div><i class="fa fa-brands fa-instagram fa-2x"></i></div>
        <div><i class="fa fa-brands fa-youtube fa-2x"></i></div>
    </td>
    </div>
    </tr>
    <tr>
        <td>Audio Description</td>
        <td>Help Center</td>
        <td>Gift Cards</td>
        <td>Media Center</td>
    </tr>
    <tr>
        <td>Investor Relations</td>
        <td>Jobs</td>
        <td>Terms of Use</td>
        <td>Privacy</td>
    </tr>
    <tr>
        <td>Legal Notices</td>
        <td>Cookie Preferences</td>
        <td>Corporate Information</td>
        <td>Contact Us</td>
    </tr>
    <tr>
        <td colspan="4">
    <button type="button" class="btn service">Service Code</button>
        </td>
    </tr>
    <tr>
        <td colspan="4" class="no-hover">
        &#169; 1997-2022 Netflix, Inc. {0028beb0-c03e-4639-b0c2-05e4a7932129}
        </td>
    </tr>
    </table>
</footer>
<script src="js/main.js"></script>
</body>
</html>