<main>
    <img class="background-image" src="images/game-over-background.jpg" alt="game-over-background">
    <div class="main-heading">
        <img class="heading-img" src="images/game-over-heading.png" alt="game-over-heading">
        <div class="main-buttons">
        <button type="button" class="btn btn-light active"><i class="fa fa-solid fa-play"></i> Play</button>
        <button type="button" class="btn btn-light info"><i class="fa fa-solid fa-info"></i> More Info</button>
    </div>
    </div>
  </main>