<main>
    <img class="background-image" src="images/game-over-background.jpg" alt="game-over-background">
    <div class="main-heading">
        <img class="heading-img" src="images/game-over-heading.png" alt="game-over-heading">
        <div class="main-buttons">
        <button type="button" class="btn btn-light active"><i class="fa fa-solid fa-play"></i> Play</button>
        <button type="button" id="info" class="btn btn-light info"><i class="fa fa-solid fa-info"></i> More Info</button>
    </div>
    </div>
    <div class="age">
        <p>16+</p>
    </div>
    <div id="trailer" class="trailer">
        <p id="close" class="x">X</p>
        <iframe src="https://www.youtube.com/embed/u7ZHi_dDSnQ?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="main-heading heading-trailer">
            <img class="heading-img" src="images/game-over-heading.png" alt="game-over-heading">
            <div class="main-buttons">
            <button type="button" class="btn btn-light active"><i class="fa fa-solid fa-play"></i> Play</button>
            <div class="trailer-plus">
                <i class="fa fa-solid fa-plus"></i>
            </div>
            <div class="trailer-thumb">
                <i class="fa fa-solid fa-thumbs-up"></i>
            </div>
        </div>
        </div>
        <div class="trailer-text">
            <div>
            <div class="first-div">
                <p class="green">80% Match</p>
                <p>2018</p>
                <p class="sixteen">16+</p>
                <p>1h 41m</p>
                <p class="hd">HD</p>
                <p class="ad"><i class="fa fa-solid fa-audio-description"></i></p>
            </div>
            <div class="sypnosis">
                <p>They're not good housekeepers. Or waiters. Or people, But when terrorists take over, they make for surprisingly good heroes.</p>
            </div>
        </div>
            <div class="cast">
                <p><span class="grey">Cast:</span> Adam Devine, Anders Holm, Blake Anderson, <span class="more">more</span></p>
                <p><span class="grey">Genres:</span> Action & Adventure, Comedies</p>
                <p><span class="grey">This movie is:</span> Raunchy, Irreverent, Exciting</p>
            </div>
        </div>
    </div>
    <div class="sliders">
        <div id="carouselExampleControls" class="carousel slide">
       <h6>My List</h6>
            <div class="carousel-inner">
              <div id="prev-item" class="carousel-item active">
                <img src="images/squid.jpg" class="d-block" alt="...">
                <img src="images/lala.jpg" class="d-block" alt="...">
                <img src="images/irishman.jpg" class="d-block" alt="...">
                <img src="images/money.jpg" class="d-block" alt="...">
                <img src="images/stranger.jpg" class="d-block" alt="...">
                <img src="images/texas.jpg" class="d-block" alt="...">
              </div>
              <div id="next-item" class="carousel-item">
                <img src="images/guilty.jpg" class="d-block" alt="...">
                <img src="images/game.jpg" class="d-block" alt="...">
                <img src="images/yes.jpg" class="d-block" alt="...">
                <img src="images/goodfellas.jpg" class="d-block" alt="...">
                <img src="images/meg.jpg" class="d-block" alt="...">
                <img src="images/bean.jpg" class="d-block" alt="...">
              </div>
            <button id="prev" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button id="next" class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
      <div id="carouselExampleControls2" class="carousel slide">
       <h6>Bingeworthy TV Shows</h6>
            <div class="carousel-inner">
              <div id="prev-item2" class="carousel-item active">
                <img src="images/topboy.jpg" class="d-block" alt="...">
                <img src="images/breaking.jpeg" class="d-block" alt="...">
                <img src="images/ozark.jpg" class="d-block" alt="...">
                <img src="images/anna.jpeg" class="d-block" alt="...">
                <img src="images/sinner.jpg" class="d-block" alt="...">
                <img src="images/dead.jpg" class="d-block" alt="...">
              </div>
              <div id="next-item2" class="carousel-item">
                <img src="images/saul.jpg" class="d-block" alt="...">
                <img src="images/stranger.jpg" class="d-block" alt="...">
                <img src="images/night.jpg" class="d-block" alt="...">
                <img src="images/office.png" class="d-block" alt="...">
                <img src="images/park.jpg" class="d-block" alt="...">
                <img src="images/space.jpg" class="d-block" alt="...">
              </div>
            <button id="prev2" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button id="next2" class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
    <div id="carouselExampleControls3" class="carousel slide">
        <h6>Trending Now</h6>
             <div class="carousel-inner">
               <div id="prev-item3" class="carousel-item active">
                 <img src="images/bridgerton.jpg" class="d-block" alt="...">
                 <img src="images/roomate.jpg" class="d-block" alt="...">
                 <img src="images/tinder.jpeg" class="d-block" alt="...">
                 <img src="images/windfall.jpg" class="d-block" alt="...">
                 <img src="images/gate.jpg" class="d-block" alt="...">
                 <img src="images/parents.jpg" class="d-block" alt="...">
               </div>
               <div id="next-item3" class="carousel-item">
                 <img src="images/save.jpg" class="d-block" alt="...">
                 <img src="images/donnie.jpg" class="d-block" alt="...">
                 <img src="images/adam.jpeg" class="d-block" alt="...">
                 <img src="images/tiger.jpg" class="d-block" alt="...">
                 <img src="images/godfather.jpg" class="d-block" alt="...">
                 <img src="images/narcos.jpg" class="d-block" alt="...">
               </div>
             <button id="prev3" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls3" data-bs-slide="prev">
               <span class="carousel-control-prev-icon" aria-hidden="true"></span>
               <span class="visually-hidden">Previous</span>
             </button>
             <button id="next3" class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls3" data-bs-slide="next">
               <span class="carousel-control-next-icon" aria-hidden="true"></span>
               <span class="visually-hidden">Next</span>
             </button>
           </div>
     </div>
</div>
  </main>