<main>
    <img class="background-image" src="images/game-over-background.jpg" alt="game-over-background">
    <div class="main-heading">
        <img class="heading-img" src="images/game-over-heading.png" alt="game-over-heading">
        <div class="main-buttons">
        <button type="button" class="btn btn-light active"><i class="fa fa-solid fa-play"></i> Play</button>
        <button type="button" class="btn btn-light info"><i class="fa fa-solid fa-info"></i> More Info</button>
    </div>
    </div>
    <div class="age">
        <p>16+</p>
    </div>
    <div class="trailer">
        <iframe src="https://www.youtube.com/embed/u7ZHi_dDSnQ?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="main-heading heading-trailer">
            <img class="heading-img" src="images/game-over-heading.png" alt="game-over-heading">
            <div class="main-buttons">
            <button type="button" class="btn btn-light active"><i class="fa fa-solid fa-play"></i> Play</button>
            <div class="trailer-plus">
                <i class="fa fa-solid fa-plus"></i>
            </div>
            <div class="trailer-thumb">
                <i class="fa fa-solid fa-thumbs-up"></i>
            </div>
        </div>
        </div>
        <div class="trailer-text">
            <div>
            <div class="first-div">
                <p class="green">80% Match</p>
                <p>2018</p>
                <p class="sixteen">16+</p>
                <p>1h 41m</p>
                <p class="hd">HD</p>
                <p><i class="fa fa-solid fa-audio-description"></i></p>
            </div>
            <div class="sypnosis">
                <p>They're not good housekeepers. Or waiters. Or people, But when terrorists take over, they make for surprisingly good heroes.</p>
            </div>
        </div>
            <div class="cast">
                <p>Cast: Adam Devine, Anders Holm, Blake Anderson, more</p>
                <p>Genres: Action & Adventure, Comedies</p>
                <p>This movie is: Raunchy, Irreverent, Exciting</p>
            </div>
        </div>
    </div>
  </main>