<main>
    <img class="background-image" src="images/game-over-background.jpg" alt="game-over-background">
    <div class="main-heading">
        <img class="heading-img" src="images/game-over-heading.png" alt="game-over-heading">
        <div class="main-buttons">
        <button type="button" class="btn btn-light active"><i class="fa fa-solid fa-play"></i> Play</button>
        <button type="button" class="btn btn-light info"><i class="fa fa-solid fa-info"></i> More Info</button>
    </div>
    </div>
    <div class="age">
        <p>16+</p>
    </div>
    <div class="trailer">
        <iframe src="https://www.youtube.com/embed/u7ZHi_dDSnQ?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="main-heading heading-trailer">
            <img class="heading-img" src="images/game-over-heading.png" alt="game-over-heading">
            <div class="main-buttons">
            <button type="button" class="btn btn-light active"><i class="fa fa-solid fa-play"></i> Play</button>
            <div class="trailer-plus">
                <i class="fa fa-solid fa-plus"></i>
            </div>
            <div class="trailer-thumb">
                <i class="fa fa-solid fa-thumbs-up"></i>
            </div>
        </div>
        </div>
    </div>
  </main>