<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Netflix Clone</title>
</head>
<body>
    <div class="main">
    <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img class="logo" src="/images/logo.png" alt="logo">
              </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div id="browse" class="browse">
            <p>Browse</p>
            <img class="arrow-down" src="images/arrow-down.png" alt="arrow-down">
            </div>
        </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">TV Shows</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Movies</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">New & Popular</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">My List</a>
              </li>
            </ul>
          </div>      
      </div>
      <div class="nav-icons d-flex justify-content-between">
        <form id="search-form" class="d-flex">
          <input id="input-slide" class="input-slide" class="form-control me-2" type="search" placeholder="Titles, people, genres" aria-label="Search">
          <img id="search-icon" class="navbar-icon" src="images/search-icon.png" alt="search-icon">
      </form>
      <img id="search-icon" class="navbar-icon" src="images/notification-icon.png" alt="notification-icon">
      <div class="dropdown">
        <a class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
         <img class="navbar-avatar-icon" src="images/avatar.png" alt="avatar">
        </a>
        <ul class="dropdown-menu bg-transparent">
          <li><a class="dropdown-item" href="#">User</a></li>
          <li><a class="dropdown-item" href="#">Manage Profiles</a></li>
          <li><a class="dropdown-item" href="#">Account</a></li>
          <li><a class="dropdown-item" href="#">Help Center</a></li>
          <li><a class="dropdown-item" href="#">Sign out of Netflix</a></li>
        </ul>
      </div>
      </div>
      </nav>
    </div>
    <script src="js/main.js"></script>
</body>
</html>